<a href="https://colab.research.google.com/github/Gwennny/CITYBIKE_CASESTUDY/blob/main/Case_Study1__ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as  pd
import numpy as np

In [ ]:
df1 = pd.read_csv('/content/drive/My Drive/case_study/202101-divvy-tripdata.csv')
df2 = pd.read_csv('/content/drive/My Drive/case_study/202102-divvy-tripdata.csv')
df3 = pd.read_csv('/content/drive/My Drive/case_study/202103-divvy-tripdata.csv')
df4 = pd.read_csv('/content/drive/My Drive/case_study/202104-divvy-tripdata.csv')
df5 = pd.read_csv('/content/drive/My Drive/case_study/202105-divvy-tripdata.csv')
df6 = pd.read_csv('/content/drive/My Drive/case_study/202106-divvy-tripdata.csv')
df7 = pd.read_csv('/content/drive/My Drive/case_study/202107-divvy-tripdata.csv')
df8 = pd.read_csv('/content/drive/My Drive/case_study/202108-divvy-tripdata.csv')
df9 = pd.read_csv('/content/drive/My Drive/case_study/202109-divvy-tripdata.csv')
df10 = pd.read_csv('/content/drive/My Drive/case_study/202110-divvy-tripdata.csv')
df11 = pd.read_csv('/content/drive/My Drive/case_study/202111-divvy-tripdata.csv')
df12 = pd.read_csv('/content/drive/My Drive/case_study/202112-divvy-tripdata.csv')

In [ ]:
#Merging the whole 12 monthly csv files 
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10])
df_final_concat = pd.concat([df, df11, df12])
df_final_concat

                 ride_id  rideable_type  ...    end_lng member_casual
0       E19E6F1B8D4C42ED  electric_bike  ... -87.720000        member
1       DC88F20C2C55F27F  electric_bike  ... -87.690000        member
2       EC45C94683FE3F27  electric_bike  ... -87.700000        member
3       4FA453A75AE377DB  electric_bike  ... -87.690000        member
4       BE5E8EB4E7263A0B  electric_bike  ... -87.700000        casual
...                  ...            ...  ...        ...           ...
247535  847431F3D5353AB7  electric_bike  ... -87.610000        casual
247536  CF407BBC3B9FAD63  electric_bike  ... -87.638862        member
247537  60BB69EBF5440E92  electric_bike  ... -87.629603        member
247538  C414F654A28635B8  electric_bike  ... -87.710000        member
247539  37AC57E34B2E7E97   classic_bike  ... -87.629521        member

[5595063 rows x 13 columns]

In [ ]:
df_final_concat.describe()

          start_lat     start_lng       end_lat       end_lng
count  5.595063e+06  5.595063e+06  5.590292e+06  5.590292e+06
mean   4.190107e+01 -8.764605e+01  4.190134e+01 -8.764626e+01
std    4.608635e-02  2.872111e-02  4.618916e-02  2.889959e-02
min    4.164000e+01 -8.784000e+01  4.139000e+01 -8.897000e+01
25%    4.188155e+01 -8.766000e+01  4.188184e+01 -8.766000e+01
50%    4.189897e+01 -8.764182e+01  4.189964e+01 -8.764275e+01
75%    4.192914e+01 -8.762773e+01  4.192920e+01 -8.762775e+01
max    4.207000e+01 -8.752000e+01  4.216812e+01 -8.749000e+01

In [ ]:
df_final_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5595063 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 597.6+ MB

In [ ]:
#Changing the datatypes for the time which the riders started riding and the end time 
df_final_concat['started_at'] = pd.to_datetime(df_final_concat['started_at'])
df_final_concat['ended_at'] = pd.to_datetime(df_final_concat['ended_at'])

In [ ]:
df_final_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5595063 entries, 0 to 247539
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 597.6+ MB

In [ ]:
df_member = df_final_concat.loc[df_final_concat['member_casual'] == "member"]
df_member

                 ride_id  rideable_type  ...    end_lng member_casual
0       E19E6F1B8D4C42ED  electric_bike  ... -87.720000        member
1       DC88F20C2C55F27F  electric_bike  ... -87.690000        member
2       EC45C94683FE3F27  electric_bike  ... -87.700000        member
3       4FA453A75AE377DB  electric_bike  ... -87.690000        member
6       09275CC10F854E9E  electric_bike  ... -87.710000        member
...                  ...            ...  ...        ...           ...
247527  46B23DFEAC1499DF   classic_bike  ... -87.659172        member
247536  CF407BBC3B9FAD63  electric_bike  ... -87.638862        member
247537  60BB69EBF5440E92  electric_bike  ... -87.629603        member
247538  C414F654A28635B8  electric_bike  ... -87.710000        member
247539  37AC57E34B2E7E97   classic_bike  ... -87.629521        member

[3066058 rows x 13 columns]

In [ ]:
df_casual = df_final_concat.loc[df_final_concat['member_casual'] == "casual"]
df_casual

                 ride_id  rideable_type  ...    end_lng member_casual
4       BE5E8EB4E7263A0B  electric_bike  ... -87.700000        casual
5       5D8969F88C773979  electric_bike  ... -87.710000        casual
11      57C750326F9FDABE  electric_bike  ... -87.672178        casual
12      4D518C65E338D070  electric_bike  ... -87.672177        casual
13      9D08A3AFF410474D   classic_bike  ... -87.672200        casual
...                  ...            ...  ...        ...           ...
247531  08E5EC2EC583D230  electric_bike  ... -87.620000        casual
247532  8DF0DBB049906332  electric_bike  ... -87.644342        casual
247533  DFE48801A70DFEA7  electric_bike  ... -87.650000        casual
247534  92BBAB97D1683D69  electric_bike  ... -87.640000        casual
247535  847431F3D5353AB7  electric_bike  ... -87.610000        casual

[2529005 rows x 13 columns]

from the two dataframes we can tell that there are more members than casual buyers

In [ ]:
df_final_concat["Duration"] =  (df_final_concat['ended_at']-df_final_concat['started_at']).astype('timedelta64[m]')

In [ ]:
df_final_concat.head()

            ride_id  rideable_type  ... member_casual Duration
0  E19E6F1B8D4C42ED  electric_bike  ...        member     10.0
1  DC88F20C2C55F27F  electric_bike  ...        member      4.0
2  EC45C94683FE3F27  electric_bike  ...        member      1.0
3  4FA453A75AE377DB  electric_bike  ...        member     11.0
4  BE5E8EB4E7263A0B  electric_bike  ...        casual      0.0

[5 rows x 14 columns]

In [ ]:
#Filtering data for the riders who rode the bicycles for less than a minute
df_duration_filter = df_final_concat.loc[df_final_concat['Duration'] == 0]
df_duration_filter

                 ride_id  rideable_type  ... member_casual Duration
4       BE5E8EB4E7263A0B  electric_bike  ...        casual      0.0
90      A81933DA3A0AC0E4   classic_bike  ...        member      0.0
91      A04621CF9A6D8BE6   classic_bike  ...        member      0.0
814     8F6BEA60066EDAE8   classic_bike  ...        member      0.0
2740    28015DD434E6505D   classic_bike  ...        member      0.0
...                  ...            ...  ...           ...      ...
247395  A02083F83AC96568  electric_bike  ...        casual      0.0
247417  B5F4E06862417CEA  electric_bike  ...        casual      0.0
247448  19C5BEED72FE88CD   classic_bike  ...        member      0.0
247469  6735D3AD97A8C921  electric_bike  ...        casual      0.0
247486  1A4D3E24FA396055  electric_bike  ...        casual      0.0

[85086 rows x 14 columns]

In [ ]:
#We want to find and create a column on which day of the week did the riders ride their bicycles which day of the week 
#df_final_concat['day_of_the_week'] = df_final_concat['started_at'].dt.day_name()
df_final_concat['day_of_the_week'] = df_final_concat['started_at'].dt.weekday

In [ ]:
df_final_concat

                 ride_id  rideable_type  ... Duration day_of_the_week
0       E19E6F1B8D4C42ED  electric_bike  ...     10.0               5
1       DC88F20C2C55F27F  electric_bike  ...      4.0               2
2       EC45C94683FE3F27  electric_bike  ...      1.0               3
3       4FA453A75AE377DB  electric_bike  ...     11.0               3
4       BE5E8EB4E7263A0B  electric_bike  ...      0.0               5
...                  ...            ...  ...      ...             ...
247535  847431F3D5353AB7  electric_bike  ...     19.0               6
247536  CF407BBC3B9FAD63  electric_bike  ...      7.0               0
247537  60BB69EBF5440E92  electric_bike  ...      8.0               3
247538  C414F654A28635B8  electric_bike  ...     14.0               0
247539  37AC57E34B2E7E97   classic_bike  ...      3.0               0

[5595063 rows x 15 columns]

In [ ]:
#Here we want to find aggregate values for the mean, max and mode of the duration and day of the week respectively
#the duration is with respect to  hours
mode_value = df_final_concat['day_of_the_week'].mode()
mean_duration = df_final_concat['Duration'].mean()
max_duration = df_final_concat['Duration'].max()
print(mode_value)
print(mean_duration)
print(max_duration)

0    5
dtype: int64
21.445804631690475
55944.0

In [ ]:
#Filtering data for the riders who rode the bicycles for less than a minute
df_duration_filters = df_final_concat.loc[df_final_concat['Duration']  < 60]
df_duration_filters

                 ride_id  rideable_type  ... Duration day_of_the_week
0       E19E6F1B8D4C42ED  electric_bike  ...     10.0               5
1       DC88F20C2C55F27F  electric_bike  ...      4.0               2
2       EC45C94683FE3F27  electric_bike  ...      1.0               3
3       4FA453A75AE377DB  electric_bike  ...     11.0               3
4       BE5E8EB4E7263A0B  electric_bike  ...      0.0               5
...                  ...            ...  ...      ...             ...
247535  847431F3D5353AB7  electric_bike  ...     19.0               6
247536  CF407BBC3B9FAD63  electric_bike  ...      7.0               0
247537  60BB69EBF5440E92  electric_bike  ...      8.0               3
247538  C414F654A28635B8  electric_bike  ...     14.0               0
247539  37AC57E34B2E7E97   classic_bike  ...      3.0               0

[5346541 rows x 15 columns]

From the analysis above most people ride the bicycles for less than an hour. So below we are going to analyze the distribution of casual riders to member

In [ ]:
df_duration_filters_member = df_duration_filters.loc[df_duration_filters['member_casual']  == 'member']
df_duration_filters_member

                 ride_id  rideable_type  ... Duration day_of_the_week
0       E19E6F1B8D4C42ED  electric_bike  ...     10.0               5
1       DC88F20C2C55F27F  electric_bike  ...      4.0               2
2       EC45C94683FE3F27  electric_bike  ...      1.0               3
3       4FA453A75AE377DB  electric_bike  ...     11.0               3
6       09275CC10F854E9E  electric_bike  ...      5.0               0
...                  ...            ...  ...      ...             ...
247527  46B23DFEAC1499DF   classic_bike  ...      5.0               2
247536  CF407BBC3B9FAD63  electric_bike  ...      7.0               0
247537  60BB69EBF5440E92  electric_bike  ...      8.0               3
247538  C414F654A28635B8  electric_bike  ...     14.0               0
247539  37AC57E34B2E7E97   classic_bike  ...      3.0               0

[3041597 rows x 15 columns]

In [ ]:
df_duration_filters_member = df_duration_filters.loc[df_duration_filters['member_casual']  == 'member']
df_duration_filters_member["day_of_the_week"].value_counts()

2    474415
1    462751
3    448861
4    443173
5    428012
0    413173
6    371212
Name: day_of_the_week, dtype: int64

In [ ]:
path = '/content/drive/My Drive/pivot2.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_duration_filters_member.to_csv(f)

In [ ]:
from IPython.core.display import display_html
df_duration_filters_casual = df_duration_filters.loc[df_duration_filters['member_casual']  == 'casual']
df_duration_filters_casual["day_of_the_week"].value_counts()

5    502017
6    424650
4    337195
3    267789
2    260174
0    259382
1    253737
Name: day_of_the_week, dtype: int64

Comparing the two snippets above we discovered that casual members usually ride their bicycles on Saturday and members frequently ride on Tuesday

In [ ]:
path = '/content/drive/My Drive/pivot3.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_duration_filters_casual.to_csv(f)

#Lets analyze the ratio of the rideable types for both the casual and member riders seperately

In [ ]:

df_duration_filters_member["rideable_type"].value_counts()

classic_bike     1970003
electric_bike    1071593
docked_bike            1
Name: rideable_type, dtype: int64

In [ ]:
df_duration_filters_casual["rideable_type"].value_counts()

classic_bike     1160643
electric_bike     904141
docked_bike       240160
Name: rideable_type, dtype: int64

Dock Bikes are used by casual riders more than they are used by members

In [ ]:
df_duration_filters_casual["start_station_name"].value_counts()

Streeter Dr & Grand Ave                 55600
Millennium Park                         26076
Michigan Ave & Oak St                   24418
Shedd Aquarium                          20511
Wells St & Concord Ln                   19106
                                        ...
351                                         2
Shabbona Park                               2
DIVVY CASSETTE REPAIR MOBILE STATION        1
Olive Harvey College                        1
Sacramento Ave & 25th St                    1
Name: start_station_name, Length: 841, dtype: int64

In [ ]:
df_duration_filters_member["start_station_name"].value_counts()

Clark St & Elm St                24568
Wells St & Concord Ln            23607
Kingsbury St & Kinzie St         23459
Wells St & Elm St                20913
Dearborn St & Erie St            19270
                                 ...
N Damen Ave & W Wabansia St          1
N Hampden Ct & W Diversey Ave        1
Whipple St & Irving Park Rd          1
Avenue L & 114th St                  1
Western Ave & Lake St                1
Name: start_station_name, Length: 836, dtype: int64

In [ ]:
df_pv = df_duration_filters.pivot_table('member_casual', ['day_of_the_week', "started_at"])
#df_pv = pd.pivot_table(df_duration_filters,index=['member_casual'],columns=['started_at', ],values=['day_of_the_week'],aggfunc=np.sum)
#= data_pv.pivot(index='category', columns='gender', values='no_show_prop')

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

In [ ]:
df_pv

Empty DataFrame
Columns: []
Index: [(0, 2021-01-04 00:01:11), (0, 2021-01-04 00:02:47), (0, 2021-01-04 00:07:53), (0, 2021-01-04 00:09:20), (0, 2021-01-04 00:30:53), (0, 2021-01-04 00:41:31), (0, 2021-01-04 00:47:14), (0, 2021-01-04 00:52:27), (0, 2021-01-04 00:56:04), (0, 2021-01-04 01:00:16), (0, 2021-01-04 01:03:00), (0, 2021-01-04 01:17:44), (0, 2021-01-04 01:31:52), (0, 2021-01-04 01:41:03), (0, 2021-01-04 02:07:36), (0, 2021-01-04 02:24:53), (0, 2021-01-04 02:40:30), (0, 2021-01-04 02:43:24), (0, 2021-01-04 02:45:57), (0, 2021-01-04 02:46:51), (0, 2021-01-04 03:04:27), (0, 2021-01-04 03:04:44), (0, 2021-01-04 03:06:28), (0, 2021-01-04 03:24:41), (0, 2021-01-04 03:32:37), (0, 2021-01-04 03:38:25), (0, 2021-01-04 04:05:44), (0, 2021-01-04 04:32:22), (0, 2021-01-04 04:34:35), (0, 2021-01-04 04:38:33), (0, 2021-01-04 04:46:55), (0, 2021-01-04 04:48:52), (0, 2021-01-04 04:52:03), (0, 2021-01-04 04:55:22), (0, 2021-01-04 05:05:04), (0, 2021-01-04 05:06:07), (0, 2021-01-04 05:08:29), (0, 2021-01-04 05:10:26), (0, 2021-01-04 05:15:09), (0, 2021-01-04 05:16:43), (0, 2021-01-04 05:20:15), (0, 2021-01-04 05:20:17), (0, 2021-01-04 05:20:26), (0, 2021-01-04 05:21:44), (0, 2021-01-04 05:22:34), (0, 2021-01-04 05:24:04), (0, 2021-01-04 05:27:11), (0, 2021-01-04 05:28:40), (0, 2021-01-04 05:31:54), (0, 2021-01-04 05:35:59), (0, 2021-01-04 05:36:28), (0, 2021-01-04 05:37:51), (0, 2021-01-04 05:38:02), (0, 2021-01-04 05:38:52), (0, 2021-01-04 05:39:12), (0, 2021-01-04 05:41:00), (0, 2021-01-04 05:42:56), (0, 2021-01-04 05:43:07), (0, 2021-01-04 05:43:19), (0, 2021-01-04 05:44:32), (0, 2021-01-04 05:44:49), (0, 2021-01-04 05:45:22), (0, 2021-01-04 05:45:24), (0, 2021-01-04 05:45:57), (0, 2021-01-04 05:46:42), (0, 2021-01-04 05:48:48), (0, 2021-01-04 05:51:45), (0, 2021-01-04 05:51:51), (0, 2021-01-04 05:52:20), (0, 2021-01-04 05:52:58), (0, 2021-01-04 05:55:15), (0, 2021-01-04 05:56:08), (0, 2021-01-04 05:56:37), (0, 2021-01-04 05:56:38), (0, 2021-01-04 05:56:55), (0, 2021-01-04 05:57:04), (0, 2021-01-04 05:57:48), (0, 2021-01-04 05:59:08), (0, 2021-01-04 05:59:21), (0, 2021-01-04 06:00:05), (0, 2021-01-04 06:00:35), (0, 2021-01-04 06:00:55), (0, 2021-01-04 06:01:30), (0, 2021-01-04 06:01:31), (0, 2021-01-04 06:01:59), (0, 2021-01-04 06:02:30), (0, 2021-01-04 06:03:10), (0, 2021-01-04 06:06:28), (0, 2021-01-04 06:08:01), (0, 2021-01-04 06:08:06), (0, 2021-01-04 06:08:42), (0, 2021-01-04 06:10:09), (0, 2021-01-04 06:11:17), (0, 2021-01-04 06:11:50), (0, 2021-01-04 06:12:34), (0, 2021-01-04 06:13:31), (0, 2021-01-04 06:13:45), (0, 2021-01-04 06:14:46), (0, 2021-01-04 06:15:07), (0, 2021-01-04 06:15:50), ...]

[4510941 rows x 0 columns]

In [ ]:
path = '/content/drive/My Drive/pivot1.csv'

with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_pv.to_csv(f)